body{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#left{
    grid-column: 1/2;
    grid-row: 1/2;
}
#right{
    grid-column: 2/3;
    background-color: lightgrey;
    text-align: center;
    grid-row: 1/2;
}
h1{
    font-size: 180px;
    grid-column: 1/3;
    z-index: 1;
    margin: 0 auto;
    grid-row: 1/2;
    letter-spacing: 20px;
    margin-top: 150px;
}
#right p {
    color: darkred;
    font-size: 80px;
    letter-spacing: 20px;
    grid-row: 2/3;
    margin-top: 500px;
}